.icon-bar {
    width: 90px; 
    background-color: #555; 
}

.icon-bar a {
    display: block;
    text-align: center; 
    padding: 16px; 
    transition: all 0.3s ease; 
    color: white; 
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: rgb(121, 115, 115); /* Add a hover color */
}

.active {
    background-color: #4CAF50; /* Add an active/current color */
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-left: 150px;
    padding-right: 150px;
  background-color: azure;
    
}section{

width: 100%;
height:650px;
background: url(349835.jpg);
position: relative;
overflow:hidden;




}.overlay{

position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 255,.7)

}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
    display: flex;
    margin-bottom: 5px;
    
}

.navbar a {
  padding-top: 15px; 
  float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}.navbar a:hover{
 color: #555;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(39, 202, 202);
    text-shadow: black 2px 4px;
    font-size: 25px;
}
footer {
    width: 100%;
    background-color: #222;
    padding: 15px 0px;
    color: white;
    text-align: center; 
  }

  * {
      box-sizing: border-box;
  }
  
  body {
      margin: 0;
      font-family: Arial;
      font-size: 17px;
  }
  
  .container {
      position: relative;
      max-width: 100%;
      margin: 0 auto;
  }
  
  .container img {vertical-align: middle;}
  
  .container .content {
      position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      color: #f1f1f1;
      width: 100%;
      padding: 20px;
  } 
  
